<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<title>PUBG 핵쟁이</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    	<style>
			body        { background: url('../public/image/bg2.jpg') no-repeat fixed 50% 50%/100% 100%;}
			#con{
				padding-top:30%;
			}
			h1{
				color: rgb(255,255,255);
				text-align: center;
			}
      #info{
        width: 100%;
        height: 50px;
        color : rgb(255,255,255);
        font-size: 12pt;
        text-align: center;
      }
      .fth{
      	width : 25%;
      }
      #result{
        border: 1px none;
        font-size: 20pt;
      }
      .user2{
        color : red;
      }
    	</style>
	</head>
	<body>
		<div class="container" >
        <div class = "row">
          <div class ="col-sm-12">
							<h1><%= id %></h1>
              <h1 class = "user2"><%= id2 %></h1>
						  <br>
	            <br>
					</div>
				</div>
				<div class="row">
					<div class ="col-sm-12">
	          <table id = "info">
	            <tr>
	              <th><img src="../public/image/round.png">총 플레이한 라운드</th>
	              <th><%= result['round'] %></th>
                <th class = "user2"> <%= result1['round'] %></th>
								<th><img src="../public/image/chi.png">치킨 뜯은 횟수</th>
	              <th><%= result['wins'] %></th>
                <th class = "user2"> <%= result1['wins'] %></th>
                <th><img src="../public/image/top10.png">TOP 10 에 든 횟수</th>
	              <th><%= result['top10'] %></th>
                <th class = "user2"> <%= result1['top10'] %></th>
	            </tr>
              <tr><th><br></th></tr>
	            <tr>
                <th><img src="../public/image/lose.png">패배한 횟수</th>
	              <th><%= result['lose'] %></th>
                <th class = "user2"> <%= result1['lose'] %></th>
								<th><img src="../public/image/rate.png">현재 레이팅</th>
	              <th><%= result['rating'] %></th>
                <th class = "user2"> <%= result1['rating'] %></th>
                <th><img src="../public/image/best.png">최고 레이팅</th>
	              <th><%= result['bestrate'] %></th>
                <th class = "user2"> <%= result1['bestrate'] %></th>
	            </tr>
              <tr><th><br></th></tr>
              <tr>
                <th><img src="../public/image/deal.png">게임 당 딜량</th>
	              <th><%= result['dmg'] %></th>
                <th class = "user2"> <%= result1['dmg'] %></th>
								<th><img src="../public/image/head1.png">게임 당 헤드샷 비율</th>
	              <th><%= result['head'] %></th>
                <th class = "user2"> <%= result1['head'] %></th>
                <th><img src="../public/image/heal.png">게임당 치료량</th>
	              <th ><%= result['heal'] %></th>
                <th class = "user2"> <%= result1['heal'] %></th>
	            </tr>
              <tr><th><br></th></tr>
              <tr>
                <th><img src="../public/image/kill1.png">게임 당 킬량</th>
	              <th><%= result['kill'] %></th>
                <th class = "user2"> <%= result1['kill'] %></th>
								<th><img src="../public/image/distance.png">게임 당 이동거리</th>
	              <th><%= result['distance'] %></th>
                <th class = "user2"> <%= result1['distance'] %></th>
                <th><img src="../public/image/revive.png">게임 당 부활횟수</th>
	              <th><%= result['revive'] %></th>
                <th class = "user2"> <%= result1['revive'] %></th>
	            </tr>
              <tr><th><br></th></tr>
              <tr>
                <th><img src="../public/image/road.png">게임 당 로드킬 횟수</th>
	              <th><%= result['road'] %></th>
                <th class = "user2"> <%= result1['road'] %></th>
								<th><img src="../public/image/teamkill.png">게임 당 팀킬 횟수</th>
	              <th><%= result['team'] %></th>
                <th class = "user2"> <%= result1['team'] %></th>
                <th><img src="../public/image/time.png">게임 당 생존시간</th>
	              <th><%= result['survive'] %></th>
                <th class = "user2"> <%= result1['survive'] %></th>
	            </tr>
              <tr><th><br></th></tr>
              <tr>
                <th><img src="../public/image/long.png">가장 멀리서 죽인 거리</th>
	              <th><%= result['long'] %></th>
                <th class = "user2"> <%= result1['long'] %></th>
	            </tr>
	          </table>
						<br>
          </div>
        </div>
        <div class = "row">
					<div class ="col-sm-4">
						<form action="/compare" method="get" >
							<input type="hidden" name="id" value="<%= id %>">
							<input type="hidden" name="mode" value="<%= mode %>">
							<input type="hidden" name="region" value="<%= region %>">
							<div class="input-group">
							 <input type="text" class="form-control input-sm" placeholder="Search for..." name = "id2">
							 <span class="input-group-btn">
								 <button class="btn btn-default btn-sm" type="submit">다른사람과비교</button>
							 </span>
						 </div>
						</form>
						</div>
				</div>
				<div class = "row">
					<div class ="col-sm-12">
						<form action="/" method="get" >
							<br>
							<button class="btn btn-default btn-sm" type="submit">홈으로 가기</button>
						</form>
						<br>
						<br>
					</div>
				</div>
		</div>
	</body>
</html>
